*{
    margin: 0;padding: 0;box-sizing: border-box;color: black;
}
.main{
    width: var(--con-wid);margin: auto;height: 100vh;
}
body{
    background-color: var(--txt-clr);
}
:root{
    --btn-border-clr: rgba(0, 0, 0, 0.437);
    --btn-bg-clr: rgba(58, 128, 58, 0.549);
    --con-wid: 95vw;
    --txt-clr: white;
}
.pg1{
    width: 100%;height: 100vh;
    border: 1px solid beige;
}
nav{
    width: 100%;
    height: 17vh;
    display: flex;justify-content: space-between;
    align-items: center;position: relative;
}
nav a{
    text-decoration: none;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,sans-serif;
}
nav a:hover{
    text-decoration: underline;
}
nav #fsta:hover{
    text-decoration: none;
}
nav #fsta{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;font-weight: 500;
}
.pg1 .hero .img1:hover{
    margin-top: -2%;
}
button{
    width: 15%;height: 50%;padding: auto;border-radius: 10vw;
    background-color: white;font-size: medium ;cursor: pointer;border: 1.3px solid var(--btn-border-clr);
}
.hero{
    width: 93.5%;height: 68%;
    display: flex;justify-content: space-between;position: relative;padding-left: 2%;
}
.img1{
    width: 22.5%;height: 100%;overflow: hidden;transition: all ease .5s;
}
.img3{
    width: 23.5%;transition: all ease .5s;
    height: 67.5%;margin-top: 10%;overflow: hidden;
}
.img2{
    width: 23%;height: 54%;position: absolute;top: 0.2%;left: 58%;overflow: hidden;
}
img{
    width: 100%;
    height: 100%;object-fit: cover;
}
.hero h4{
    font-size: 3.7rem;
    text-align: center;
    margin-top: 7%;font-weight: 400;
}
.hero h4 #btn{
    width: 35%;height: 15%;background-color: white;
    margin-top: 12.5%;border: 1.3px solid var(--btn-border-clr);
}
.pg2{
    width: 98.6vw;height: 100vh;background-color: black;margin:  2vh -1.9%;display: flex;flex-direction: column;
    justify-content: space-evenly;align-items: center;gap: 2%;
}
.pg2 .pg2-h6{
    font-size: 1.1rem;color: white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.pg2 .pg2-h2{
    color: white;text-align: center;font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
#pg2btn{
    width: 15%;
    height: 8%;background-color: black;color: rgb(255, 255, 255);border: 1.3px solid rgba(255, 255, 255, 0.566);
}
#pg2btn:hover{
    color: black;
}
.pg3{
    width: var(--con-wid);height: 100vh;margin: auto;display: flex;justify-content: space-between;
}
.pg3 .pg3-lft{
    width: 40%;height: 100vh;display: flex;justify-content: space-between;
}
.pg3 .pg3-rig{
    width: 56%;height: 100vh;
}
#ser-btn{
    width: 25%;height: 7%;border: 1.3px solid var(--btn-border-clr);margin-top: 6%;
}
.pg3-rig p{
    line-height: 200%;font-size: medium;font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;margin-top: 4%;
}
.pg3-rig h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 7%;font-size: 2.8rem;font-weight: 400;
}
.img-con1,.img-con2{
    width: 30%;height: 100%;
}
.img-con2{width: 70%;}
.pg3-lft .pg3-img1{
    width: 100%;height: 60%;
    margin-left: -30%;margin-top: -7.7%;
}
.pg3-lft .pg3-img2{
    width: 100%;height: 30%;margin: 20% -30%;float: left;
 }
 .pg3-lft .pg3-img3{
    width: 100%;height: 20%;margin-top: -3.3%;
 }
 .pg3-lft .pg3-img4{
    width: 100%;height: 76%;margin-top: 10%;
 }
.pg3-img1,.pg3-img2,.pg3-img3,.pg3-img4 img{
    width: 100%;
    height: 100%;object-fit: cover;background-color: burlywood;
}
section{
    width: var(--con-wid);height: 35vh;align-items: center;overflow: hidden;
}
section h1{
    text-align: center;line-height: 35vh;
    font-family:monospace;font-size: 2rem;font-weight: 400;
}
.pg4{
    width: var(--con-wid);height: 100vh;display: flex;align-items: center;justify-content: center;
}
.pg4-con{
    width: 90%;height: 75%;display: grid;margin-top: 2.5%;
    grid-template-columns: repeat(4,21%); /* 4 columns */
  grid-template-rows: repeat(4, 15%);  /* 3 rows */
  gap: 10% 5%;
}
.pg4 .pg4-con .pg4-con1 #imgc{
    width: 100%;height: 100%;object-fit: cover;
}
.pg5{
    width: var(--con-wid);height: 100vh;display: flex;justify-content: space-evenly;align-items: center;
}
.pg5-img{
    width: 40%;overflow: hidden;
    height: 60%;background-color: antiquewhite;position: relative;
}
.pg5-img #pg5-img{
    width: 100%;height: 100%;object-fit: cover;transition: all ease 0.5s;
}
#pg5-hd{position: absolute;top:5%;left: 4%;color: var(--txt-clr);}
#pg5-dc{position: absolute;bottom:30%;left: 4%;font-size: 1.9rem;color: var(--txt-clr);}
#pg5-btn{position: absolute;top:80%;left: 4%;color: var(--txt-clr);
width: 20%;height: 10%;font-size: small;background-color: transparent;border: 1px solid white;}
.pg6{
    width: 100%;height: 100vh;display: flex;align-items: center;
}
.swiper {
  width: 90%;
  height: 75%;
}

.swiper-slide {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sw{font-size: 2.5rem;text-align: center;font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.swiper-slide p{
    color: rgba(255, 141, 47, 0.548);font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}
footer{
    background-color: black;
    width: 98.6vw;height: 100vh;margin-left: -1.9%;
}
.tf{
    width: 83%;height: 80%;border-bottom: 1px solid rgba(255, 255, 255, 0.515);margin: auto;display: flex;justify-content: space-between;
    padding-top: 3%;
}
.tfd{
    width: 23%;height: 90%;
}
.tdff{
    width: 14%;height: 90%;display: flex;flex-direction: column;gap: 10%;
}
.tf .tfd h4,h5{
    font-weight: 300;font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tf .tfd h4{
    font-size: x-large;font-weight: 400;color: white;
}
.tf .tfd #h5{
    margin-top: 5%;color: rgba(255, 255, 255, 0.767);
}
.tf .tfd h5{
    color: rgba(255, 255, 255, 0.767);
}
.tf .tdf .tdfm{
    width: 80%;height: 30%;border: 1px solid white;
}
.tf .tdf .tdfm img{
    width: 10%;height: 60%;object-fit: cover;
}
.bf{
    width: 83%;height: 20%;margin: auto;display: flex;justify-content: space-between;padding-top: 2.8%;
}
#ft-h5{
    color: white;font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#ftp{
    color: rgba(255, 255, 255, 0.54);font-weight: 300;font-size:small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#pg5-img:hover{
    scale: 110%;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.marquee h1 {
  display: inline-block;
  font-size: 80px;
  padding-left: 100%;
  animation: scroll 70s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(-7%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#ani{
    color: rgb(0, 0, 0);margin-top: 25vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nav{
    width: 95%;margin: auto;
}

button{
  position: relative;
  overflow: hidden;
  z-index: 1;transition: all ease .3s;
}

button::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) .35s;
  z-index: -1;
}

button:hover::before{
  left: 0;
}
#pg2btn:hover::before{
    background-color: white;
}
button:hover{
  color: #fff;
}
